# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Mac system files
.DS_Store

# Streamlit temp
.streamlit/

# Data files (если есть)
*.csv
*.xlsx
*.json

# Jupyter
.ipynb_checkpoints/

